@import "tailwindcss";

@font-face {
  font-family: "Causten";
  src: url("/font/Causten Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PublicaSansRound";
  src: url("/font/PublicaSansRound-Bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PublicaSansRound";
  src: url("/font/PublicaSansRound-Md.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PublicaSansRound";
  src: url("/font/PublicaSansRound-Rg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

:root {
  --foreground: #ffffff;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-causten: "Causten", sans-serif;
  --font-publicas: "PublicaSansRound", sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}

.background-landing {
  background: linear-gradient(to right, #001529 47%, #0d334e 100%);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

.background-auth {
  background: linear-gradient(140deg, #1f4b66 0%, #031625 100%);
}

/* Fix untuk Menghilangkan Background Warna dari Autofill Browser  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}
